#offer-label{
    .label-img{
        background-image: url(../../../public/assets//images/25.jpg);
        background-size: 100% 100%, contain;
        background-position: center;
        background-origin:content-box;
        border-radius: 5px;
        height: 280px;
        display: flex;
        align-items: center;
        
    }
    @media screen and (max-width: 760px) {
        .label-img{
            height: 160px;
        }
    }
}