#offer-label{
    .label-img{
        background-image: url(../../../public/assets//images/label.png);
        background-size: 100% 100%, contain;
        background-position: center;
        background-origin:content-box;
        border-radius: 5px;
        height: 280px;
        display: flex;
        align-items: center;
        width: 95vw;
    }
    @media screen and (max-width: 760px) {
        .label-img{
            height: 160px;
        }
    }
    @media screen and (max-width: 500px) {
        .label-img{
            height: 180px;
        }
    }
}