#header {
  .whatsapp {
    position: absolute;
    bottom: 20px;
    right: 12px;
    cursor: pointer;
  }
  .messenger {
    position: absolute;
    bottom: 20px;
    left: 12px;
    cursor: pointer;
  }
}
