#header {
  .whatsapp {
    position: fixed;
    bottom: 20px;
    right: 12px;
    cursor: pointer;
    z-index: 2;
  }
  .messenger {
    position: fixed;
    bottom: 20px;
    left: 12px;
    cursor: pointer;
    z-index: 2;
  }
}
.header{
  z-index: 10000;
}