#contact-us {
  .connectImage {
    background-image: url(../../../../public//assets/images/connect.jpg);
    height: 800px;
    width: 100%;
    background-size: 100% 100%, contain;
    background-position: center;
  }
  .appointmentImage {
    background-image: url(../../../../public//assets/images/appointment.avif);
    height: 800px;
    width: 100%;
    background-size: 100% 100%, contain;
    background-position: center;
  }
  @media screen and (max-width: 760px) {
    .connectImage {
      height: 300px;
    }
    .appointmentImage {
      height: 300px;
    }
    .mb-padding {
      height: 30vh;
    }
  }
}
